
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.form-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.documentation-form p {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#note {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

#div-container {
    display: flex;
    justify-content: center;
    
}

button {
    width: 140px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #0056b3;
}
#button-copy{
    margin-left: 100px;
}

